* {margin: 0px;padding: 0px;box-sizing: border-box;}
/* header */
header{
    min-height: 60vh;
}
.topnav{
    padding: 0;
    font-size: 12px;
    border-bottom: solid 1px black;
}
.social{
    margin-left: 300px;
    padding-right: 10px;padding-left: 10px;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.social i{
    padding-right: 10px;
}
.contactnav p{
    margin-left: 30px;
    font-size: 13px;
}
.contactnav li{
    padding-right:20px;
    margin-right: 30px;
    margin-left: 30px;
}
.contactnav a{
    margin-right: 10px;
}
.contactnav i{
    color: rgb(151, 49, 49);
    margin-right: 10px;

}
.shopnav{
    font-size: 25px;
}
.shopnav li{
    margin-left: 10px;
}
/* sec 2 */
.card{
    box-shadow: -1px 0px 2px white ;
}
.card-head1 {
background-image: url(../img/containers.jpg);
min-height: 30vh;
background-size: cover;
background-position: center;
}
.card-head2 {
background-image: url(../img/van.jpg);
min-height: 30vh;
background-size: cover;
background-position: center;
}
.card-head3 {
background-image: url(../img/invetory.jpg);
min-height: 30vh;
background-size: cover;
background-position: center;
}
.card-body h5{
font-weight: bold;
}
.iconbg1 i{
display: flex;
font-size: 40px;
margin-top: 20px;
margin-left: 40px;
color: rgb(184, 37, 37);
}
.iconbg1{
    
position: relative;
width: 150px;
height: 70px;
display:flex;
margin-top: 20vh;
margin-left: -16px;
background-color: rgb(251, 249, 249);
}
.btn{
letter-spacing: 2px;
font-weight: bold;
}

/* sec 3 >> request */
.request{
    background-image: url(../img/fixed.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.request p{
    width: 75%;
}
h2 i{
    color: rgb(134, 29, 29);
}
h2{
    text-transform: uppercase;
    
}
.bkgrwnd{
    background-color: rgb(52, 48, 56);
    height: 80vh;
    position: relative;
    padding: 0;
}
form input{
    color: burlywood;
}







